@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Bitcount:wght@100..900&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --links-color: #fff;
    --links-hover-color: #333;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background-color: #000;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    height: 4rem;
    width: 100%;
    background-color: tomato;
    opacity: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
}

header span {
    font-size: 1.4rem;
    color: #fff;
    font-family: Quicksand, sans-serif;
}

#navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--links-color);
}

#navbar ul li a:hover {
    color: var(--links-hover-color);
}

#welcome-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-section * {
    margin: 1.5rem auto;
}

#welcome-section h1 {
    font-size: 5rem;
    color: orangered;
    letter-spacing: 2rem;
    font-family: Roboto, sans-serif;
}

#welcome-section h2 {
    font-size: 3rem;
    font-family: Archivo, sans-serif;
}

#welcome-section p {
    font-size: 2rem;
    color: beige;
    font-family: 'Open Sans', sans-serif;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Intel One Mono', sans-serif;
    color: orangered;
    text-decoration: underline;
    background-color: #fff;
}

#projects {
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.project-tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 30rem;
    height: 20rem;
    margin: 0 auto;
    border: 2px solid black;
    background-color: #000;
    border-radius: 5%;
}

.project-tile a {
    height: 70%;
}

.project-tile a img {
    width: 30rem;
    height: 15rem;
}

.project-tile * {
    color: #fff;
}

.tile-title {
    font-size: 1.5rem;
    font-family: Roboto, sans-serif;
    color: linen;
    border-top: 2px solid white;
    width: 100%;
    text-align: center;
}

.project-tile p {
    font-size: 1.2rem;
    font-family: monospace, sans-serif;
    margin: 0 auto;
}

footer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

footer div {
    margin-top: 50%;
}

footer div h2 {
    font-size: 4rem;
    font-family: Roboto, sans-serif;
}

footer div p {
    font-size: 1.4rem;
    text-indent: 20%;
    font-family: Archivo, sans-serif;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 2rem auto;
    font-size: 1.6rem;
}

footer small {
    margin-top: 40rem;
    padding-right: 1rem;
    width: 100%;
    border-top: 2px solid #fff;
    font-size: 2rem;
    font-family: Bitcount, sans-serif;
    text-align: right;
    
}

/* Responsiveness */

@media (min-width: 300px) and (max-width: 720px) {
    #welcome-section {
        background-color: #333;
    }
}


